<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
    @await Html.PartialAsync("FontsPartial")
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("PosterPartial")

        @RenderBody()

        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>