@using HotBooking.Domain
@using HotBooking.Domain.Entities
@model Country

<div class="article__polaroid polaroid">
    <div class="polaroid__info">
        <div class="polaroid__color"></div>
        <p class="polaroid__text">@Model.Subtitle</p>
    </div>
    <img src="@Model.TitleImagePath" alt="">
    <div class="title_2">
        <p>@Model.Title</p>
    </div>
</div>