@model Room
@{
    ViewBag.TableName = "Room";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <br>
    <main class="container">
        <a asp-area="Admin" asp-controller="Home" asp-action="Read" class="btn btn-success">Back</a>
        <hr />
        <form asp-area="Admin" asp-controller="Rooms" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label for="table_name" class="form-label">Table</label>
                <input value="@ViewBag.TableName" disabled name="table" type="text" class="form-control" id="table_name">
            </div>
            <div class="mb-3" hidden>
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subtitle" class="form-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Text" class="form-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TitleImagePath" class="form-label"></label>
                <input type="file" name="titleImageFile" class="form-control" accept="image/*" />
                <input type="text" name="defaultImagePath" hidden value="@Model.TitleImagePath" />
                <div>
                    <img src="~/@Model.TitleImagePath" alt="" />
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="HotelId" class="form-label"></label>
                <input asp-for="HotelId" class="form-control" />
                <span asp-validation-for="HotelId"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>

</html>
