.poster{
    height: 378px;
}

.article{
    justify-content: center;
    display: grid;
    grid-template: 90px 1fr 1fr / repeat(4, minmax(180px, 231px));
    grid-template-areas: "title title title title"; 
    gap: 30px;  
}